.Searchbox{
    margin: 6px;
    border: solid 1px var(--blue);
    border-radius: 20px;
    padding: 2px;
    width: 20rem;
    height: 20px;
    background-color: var(--widget-background);
    display: inline-flex;
    justify-content: center;
    align-items: center;
    color: var(--blue);
}
.Search{
    background-color: var(--widget-background);
    border: hidden;
    outline: none;
    padding-left: 8px;
}

@media screen and (max-width: 480px){
    .Searchbox{
    width: 220px;
}
}