.sidebar{
    padding: 0;
    margin: 0;
    height: 100%;
    width: 10rem;
    position: relative;
    background-color: var(--gray);
    display: flex;
    flex-flow: column;
    justify-items: flex-start;
    align-items: flex-start;
    grid-row: 1/-1;
}

.sidebar-logo{
    padding: 1em;
    width: 6rem;
    height: 6rem;
    border-radius: 80px;
    align-self: center;
}
.sidebar-item{
    margin:0;
    margin-top: 0.3rem;
    padding: 1em;
    color: white;
    display: block;
    text-align: start;
    font-size: 1.1em;
    font-weight: bold;
}

.selected{
    color:var(--pink-text);
}


.item:hover{
    cursor: pointer;
    background-color: var(--pink-hover);
    color:var(--pink-text);
    border-radius: 5em;

}

@media screen and (max-width: 480px){
    .sidebar{
        flex-flow: row;
        width: 100%;
        height: 60px;
        justify-content: center;
    }
    .sidebar-item{
        display: none;
    }
    .sidebar-logo{
        width: 45px;
        height: 45px;
        padding: 8px;
    }
}