.sidebar{
    padding: 0;
    margin: 0;
    height: 100%;
    width: 10rem;
    position: relative;
    background-color: var(--gray);
    display: flex;
    flex-flow: column;
    justify-items: flex-start;
    align-items: flex-start;
    grid-row: 1/-1;
}

.item{
    margin:0;
    margin-top: 0.3rem;
    padding: 1em;
    color: white;
    display: block;
    text-align: start;
    font-size: 1.1em;
    font-weight: bold;
}

.selected{
    color:var(--pink-text);
}


.item:hover{
    cursor: pointer;
    background-color: var(--pink-hover);
    color:var(--pink-text);
    border-radius: 5em;

}