.signinForm{
    display: flex;
    flex-direction: column;
    height:auto;
    width: 500px;
    padding: 1em;
}

.logo{
    width: 7rem;
    height: 7rem;
}

.title{
    text-align: center;
}

.registro{
    font-size: 50px;
}
.input{
    font-size: 25px;
    font-style: italic;
    border: 0px;
    border-bottom: 1px solid var(--pink);
    color: var(--gray);
    padding-top: 10px;
    margin-bottom: 45px;
    outline: none;
}
.boton{
    border: solid 2px var(--pink);
    border-radius: 30px;
    align-self: center;
    height: 45px;
    width: 150px;
    background-color: white;
    color: var(--pink);
    outline: none;
    cursor: pointer;
}

.boton:hover{
    background-color: var(--pink-hover);
}