.signinForm{
    display: flex;
    flex-direction: column;
    height:auto;
    width: 500px;
    padding: 1em;
}

.logo{
    width: 7rem;
    height: 7rem;
}

.title{
    text-align: center;
}

.registro{
    font-size: 50px;
}
.input{
    font-size: 25px;
    font-style: italic;
    border: 0px;
    border-bottom: 1px solid var(--pink);
    color: var(--gray);
    padding-top: 10px;
    margin-bottom: 45px;
    outline: none;
}
.boton{
    border: solid 2px var(--pink);
    border-radius: 30px;
    align-self: center;
    height: 45px;
    width: 150px;
    background-color: white;
    color: var(--pink);
    outline: none;
    cursor: pointer;
}

.boton:hover{
    background-color: var(--pink-hover);
}

@media screen and (max-width: 480px){
    .signinForm{
        margin-top: 50px;
        width: 250px;
    }
    .logo{
        width: 80px;
        height: 80px;
    }
    .title{
        font-size: 1.5rem;
    }
    .input{
        font-size: .9em;
        margin-top: 10px;
        margin-bottom: 5px;
        padding: 0;
    }
    .boton{
        margin-top:15px;
        width: 100px;
        height: 30px;
        font-size: .6em;
        border: solid 1px var(--pink);
    }
}