.WidgetContent{
    list-style: none;
    padding: 0%;
    margin: 0%;
}

.WidgetContent-item{
    display: flex;
    align-items: center;
    border-top:1px solid #FF511B;
    padding-left:3rem;
    color: #3A403D;
}

.WidgetContent-item-last{
    display: flex;
    align-items: center;
    border-top:1px solid #FF511B;
    border-bottom:1px solid #FF511B;
    padding-left:3rem;
    color: #3A403D
}

.orange{
    border-color: #FF511B;
}

.pink{
    border-color: #FC005F;
}

.blue{
    border-color: #0078D8;
}
