/* VARIABLES */
:root{
  --blue:#0074D5;
  --pink:#FC005F;
  --pink-text:#ec82aa;
  --pink-hover:#f5bcd361;
  --orange:#FF511B;
  --widget-background:#F5F8FA;
  --gray:#282a2c;
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color:white;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.title{
  color:var(--gray);
  font-weight: bold;
  margin:0;
  padding: 0.3rem;
  font-size: 2.5rem;
}
.subtitle{
  color:var(--gray);
  font-weight: 300;
  margin: 0%;
  font-size: 1.2rem;
}

.logo{
  padding: 1em;
  width: 6rem;
  height: 6rem;
  border-radius: 80px;
  align-self: center;
}

